<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.witinfo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="papb1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.SignUp" />
        <activity android:name=".ui.login.Reset" />
        <activity android:name=".ui.kategori_buah.KategoriBuah" />
        <activity android:name=".ui.kategori_buah.DetailTanaman" />
        <activity android:name=".ui.kategori_hias.KategoriHias" />
        <activity android:name=".ui.kategori_hias.DetailTanaman" />
        <activity android:name=".ui.kategori_obat.KategoriObat" />
        <activity android:name=".ui.kategori_obat.DetailTanaman" />
        <activity android:name=".ui.kategori_sayur.KategoriSayur" />
        <activity android:name=".ui.kategori_sayur.DetailTanaman" />
        <activity android:name=".ui.artikel.HalamanArtikel" />
        <activity android:name=".ui.login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>